.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
}

.container > canvas {
  width: 30%;
  height: 30%;
}
@media (max-width: 770px) {
  .container {
    width: 100%;
  }
}
