@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Poppins:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-sm;
  }
}

.dashboardWrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(180px, 220px));
}

.container {
  padding: 40px 16px;
}

.table-container {
  margin: 40px auto 0 auto;
  width: 100%;
}
.table-header,
.table-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.paginationContainer {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.paginationContainer a {
  padding: 8px 24px;
  border-radius: 5px;
  border: 1px solid rgba(31, 41, 55, 1);
  color: rgba(31, 41, 55, 1);
  cursor: pointer;
}

.paginationActive a,
.paginationContainer a:hover {
  color: white;
  background-color: rgba(31, 41, 55, 1);
}
