@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Poppins:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-700;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-serif text-2xl;
  }
  p {
    @apply text-sm;
  }
}

.customFlexItem {
  width: 220px;
}

.container {
  padding: 40px 16px;
}

.table-container {
  width: 80%;
  margin: 40px auto 0 auto;
}
.table-header,
.table-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.paginationContainer {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.paginationContainer a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationContainer a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}
